<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="userAction" class="com.toy4codes.website.framework.action.UserAction" scope="prototype" />

	<bean id="wiresharkPacketAction" class="com.toy4codes.website.framework.action.WiresharkPacketAction"
		scope="prototype" />

	<bean id="pm25Action" class="com.toy4codes.website.framework.action.PM25Action" scope="prototype" />
	
	<bean id="bankAction" class="com.toy4codes.website.framework.action.BankAction" scope="prototype" />
	
	<bean id="communicationAction" class="com.toy4codes.website.framework.action.CommunicationAction" scope="prototype" />

</beans>