<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="juiFilterRulesService" class="com.toy4codes.website.framework.service.impl.JuiFilterRulesServiceImpl" />

	<bean id="bootstrapDatagridService" class="com.toy4codes.website.framework.service.impl.BootstrapDatagridServiceImpl" />

	<bean id="userService" class="com.toy4codes.website.framework.service.impl.UserServiceImpl" />

	<bean id="wiresharkPacketService" class="com.toy4codes.website.framework.service.impl.WiresharkPacketServiceImpl" />
	
	<bean id="pm25Service" class="com.toy4codes.website.framework.service.impl.PM25ServiceImpl" />

</beans>