<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="socketioConfiguration" class="com.corundumstudio.socketio.Configuration">
		<property name="hostname" value="${socketio.server.hostnme}" />
		<property name="port" value="${socketio.server.port}" />
	</bean>

	<bean id="websocketNettySocketioServer"
		class="com.toy4codes.website.framework.websocket.netty.socketio.server.WebsocketNettySocketioServer"
		init-method="startUp" destroy-method="shutDown">
		<constructor-arg ref="socketioConfiguration" />
	</bean>

</beans>